/* line 10, sitelayoutwithcrossfadestyles.scss */
html {
  box-sizing: border-box;
}

/* line 13, sitelayoutwithcrossfadestyles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 16, sitelayoutwithcrossfadestyles.scss */
body {
  font-family: "Roboto", Seref;
  font-weight: 300;
  color: #333;
}
/* line 20, sitelayoutwithcrossfadestyles.scss */
body .link-primary-text-color {
  color: #2593e2 !important;
}

/* line 24, sitelayoutwithcrossfadestyles.scss */
a:link, a:visited {
  color: #333;
  text-decoration: none;
}

/* line 28, sitelayoutwithcrossfadestyles.scss */
a:hover, a:active {
  color: #2593e2;
}

/* line 31, sitelayoutwithcrossfadestyles.scss */
h2 {
  font-size: 40px;
  font-weight: 300;
}

/* line 35, sitelayoutwithcrossfadestyles.scss */
h4 {
  font-size: 22px;
}

/* line 38, sitelayoutwithcrossfadestyles.scss */
ul {
  list-style-type: none;
}
/* line 40, sitelayoutwithcrossfadestyles.scss */
ul li {
  list-style-type: none;
  display: inline-block;
}
/* line 44, sitelayoutwithcrossfadestyles.scss */
ul.vertical li {
  display: list-item;
}

/* line 49, sitelayoutwithcrossfadestyles.scss */
.all-caps {
  text-transform: uppercase;
}

/* line 52, sitelayoutwithcrossfadestyles.scss */
.smaller-text {
  font-size: .85rem;
}

/* line 55, sitelayoutwithcrossfadestyles.scss */
.shaded-text {
  color: #999;
}

/* line 58, sitelayoutwithcrossfadestyles.scss */
.background-primary-color {
  background-color: #2593e2;
}

/* line 62, sitelayoutwithcrossfadestyles.scss */
.cta {
  color: #fff;
  border: solid 3px #2593e2;
  background-color: #2593e2;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
}
/* line 72, sitelayoutwithcrossfadestyles.scss */
.cta .cta-text {
  margin: 1px;
  padding: 2px 10px;
  font-size: 1rem;
  float: left;
}
/* line 79, sitelayoutwithcrossfadestyles.scss */
.cta:hover {
  color: #2593e2;
  border: solid 3px #2593e2;
  background-color: #fff;
  cursor: pointer;
}

/* line 86, sitelayoutwithcrossfadestyles.scss */
a.cta {
  display: inline-block;
  color: #fff;
}

/* line 91, sitelayoutwithcrossfadestyles.scss */
.main-content {
  margin: 0 auto;
}
/* line 94, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip {
  background-color: #ede7e3;
  overflow: hidden;
  padding: 1.3rem 4.0rem 0;
}
/* line 98, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .logo-container {
  height: 62px;
  float: left;
  padding: 1rem 0 0;
}
/* line 102, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .logo-container .logo {
  margin: .2rem 0 0;
  font-family: "roboto slab", serif;
  font-weight: 400;
}
/* line 107, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .logo-container .tagline {
  margin: 0;
  padding: 0;
  color: #777;
  font-weight: 300;
}
/* line 114, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container {
  float: left;
  overflow: hidden;
  width: 100%;
}
/* line 119, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container .fixed {
  position: fixed;
  top: 0;
  left: 0;
}
/* line 123, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container .fixed .logo {
  font-size: .9rem;
}
/* line 127, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container .contact-us-heading {
  float: right;
  margin: .1rem 2em;
}
/* line 137, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container .cta {
  float: right;
}
/* line 140, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container input[type=email], .main-content .site-heading-strip .site-heading-container input[type=submit] {
  font-size: 1rem;
  border: none;
  outline: none;
  display: none;
}
/* line 146, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav {
  clear: both;
  float: right;
}
/* line 151, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .top-nav {
  margin: 0;
  font-weight: 400;
}
/* line 156, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item {
  cursor: pointer;
  margin-left: 2em;
  padding: 0 .15rem 1.3rem 0;
}
/* line 161, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .nav-item-link {
  padding: 0 0 1.3rem 0;
  text-decoration: none;
}
/* line 164, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .nav-item-link .arrow {
  border-color: #aaa;
}
/* line 168, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .nav-item-link:hover .arrow {
  border-color: inherit;
}
/* line 174, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel {
  font-family: "roboto Slab", serif;
  position: absolute;
  z-index: 15;
  width: 800px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  min-height: 200px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0.1em 0.2em 0.5em 0.2em rgba(0, 0, 0, 0.4);
  height: 475px;
}
/* line 189, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel p {
  margin: 0;
  padding: .8rem 0;
  font-weight: 300;
}
/* line 194, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .panel-column-heading {
  font-size: 1.1rem;
  width: 32%;
  float: left;
}
/* line 198, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .panel-column-heading.countries {
  padding: 0 0 0 3.6rem;
  width: 58%;
}
/* line 202, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .panel-column-heading.specialty {
  float: left;
  display: block;
  width: 100%;
}
/* line 209, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel ul.vertical {
  font-weight: 200;
  font-size: 1rem;
}
/* line 213, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .continent-list {
  float: left;
  padding: 0;
  margin: 0 2rem 0 0;
  width: 32%;
}
/* line 218, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .continent-list li {
  border-bottom: #ccc dotted 1px;
  padding: .5rem;
}
/* line 223, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .country-list {
  padding: 0 1rem 0 0;
  width: 29%;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
/* line 232, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .country-list li {
  padding: .1rem .1rem .1rem 1.6rem;
}
/* line 236, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .country-list[data-continent='asia'] {
  opacity: 1;
}
/* line 240, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .specialty-list {
  float: left;
  max-height: 380px;
  overflow-y: auto;
  width: 49%;
  padding: 0;
  margin: 0;
}
/* line 247, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .specialty-list li {
  padding: .1rem .1rem .1rem 0;
}
/* line 252, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .panel-cta {
  margin-top: 1rem;
  float: right;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
/* line 258, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item .menu-panel .panel-cta > span {
  text-align: right;
  padding-right: .8rem;
}
/* line 264, sitelayoutwithcrossfadestyles.scss */
.main-content .site-heading-strip .site-heading-container nav .nav-item #specialty.menu-panel {
  width: 650px;
}

/* line 273, sitelayoutwithcrossfadestyles.scss */
#slide-show {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 279, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-list {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 475px;
  width: 100%;
}
/* line 287, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-list .asset-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 475px;
  width: 100%;
}
/* line 293, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-list .asset-item img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 287, sitelayoutwithcrossfadestyles.scss */
  #slide-show .asset-list .asset-item {
    height: auto;
  }
}
/* line 300, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-list .asset-item .caption {
  font-family: "roboto slab", serif;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 90%;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
  font-size: 50px;
  font-weight: 400;
}
/* line 315, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-indicators {
  position: absolute;
  bottom: 75px;
  left: calc(50% - 50px);
  width: 100px;
  z-index: 10;
  margin: 0;
  padding: 0;
}
/* line 323, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-indicators .template {
  display: none;
}
/* line 326, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-indicators li {
  margin: 0 .2rem;
}
/* line 331, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay {
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .8rem 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: 0;
}
/* line 342, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay .destination {
  line-height: 1.25rem;
}
/* line 345, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay .label {
  margin: .3rem .4rem 0 0;
}
/* line 349, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay input, #slide-show .asset-overlay span {
  float: left;
}
/* line 352, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay input {
  padding: .2rem .3rem;
  margin-right: .5rem;
  color: #676767;
}
/* line 358, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay a span {
  margin-right: .5rem;
}
/* line 360, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay a span.arrow.right {
  margin-top: .5rem;
}
/* line 364, sitelayoutwithcrossfadestyles.scss */
#slide-show .asset-overlay a .cta-text {
  margin: 0 0 0 .4rem;
  padding: 3px 1px 0;
}
/* line 373, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav {
  position: absolute;
  top: 0;
  z-index: 10;
  font-size: 60px;
  font-weight: 100;
  height: 100%;
  width: 60px;
}
/* line 381, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav.left {
  left: 0;
}
/* line 384, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav.right {
  right: 0;
}
/* line 386, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav.right:hover {
  cursor: pointer;
}
/* line 390, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
/* line 393, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav a:hover, #slide-show .slide-nav a:active, #slide-show .slide-nav a.hovered {
  color: white;
}
/* line 397, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav span {
  position: absolute;
  top: calc(40% - 10px);
}
/* line 400, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav span.left {
  left: 20px;
}
/* line 403, sitelayoutwithcrossfadestyles.scss */
#slide-show .slide-nav span.right {
  right: 20px;
}

/* line 410, sitelayoutwithcrossfadestyles.scss */
#featured {
  padding: 0 0 3rem;
}
/* line 412, sitelayoutwithcrossfadestyles.scss */
#featured h2 {
  overflow: hidden;
  text-align: center;
}
/* line 419, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours {
  font-family: "roboto Slab", serif;
  overflow: hidden;
  margin-left: 1%;
}
/* line 425, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article {
  float: left;
  width: 31%;
  height: auto;
  margin: 1%;
  overflow: hidden;
  padding: 0 0 .8rem;
  background-color: #f7f7f7;
}
/* line 433, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article .tour-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* line 437, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article .tour-image-container img {
  height: 100%;
  width: 100%;
}
/* line 442, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article .featured-tour-body {
  padding: 0 .8rem;
  line-height: 1.5rem;
}
/* line 445, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article .featured-tour-body .smaller-text {
  margin: 0;
  padding: 0 0 .5rem;
  line-height: 1.1rem;
}
/* line 451, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article footer {
  overflow: hidden;
  padding: 0 .8rem;
}
/* line 455, sitelayoutwithcrossfadestyles.scss */
#featured .featured-tours article a.cta {
  float: right;
}

/* line 462, sitelayoutwithcrossfadestyles.scss */
.arrow {
  border-color: #aaa;
  border-right: 3px solid;
  border-bottom: 3px solid;
  display: inline-block;
  width: 8px;
  height: 8px;
}
/* line 469, sitelayoutwithcrossfadestyles.scss */
.arrow.down {
  margin: 0 0 .2rem .5rem;
  transform: rotate(45deg);
}
/* line 473, sitelayoutwithcrossfadestyles.scss */
.arrow.up {
  margin: .2rem 0 0 .5rem;
  transform: rotate(-135deg);
}
/* line 477, sitelayoutwithcrossfadestyles.scss */
.arrow.right {
  margin: 0 0 0 .3rem;
  transform: rotate(-45deg);
}
/* line 481, sitelayoutwithcrossfadestyles.scss */
.arrow.left {
  margin: 0 0 0 .3rem;
  transform: rotate(135deg);
}

/* line 487, sitelayoutwithcrossfadestyles.scss */
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 2px #fff;
  border-radius: 10px;
  background-color: transparent;
}
/* line 495, sitelayoutwithcrossfadestyles.scss */
.circle.is-active {
  background-color: #fff;
}

/* line 500, sitelayoutwithcrossfadestyles.scss */
#page-footer {
  background: #333;
  color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 507, sitelayoutwithcrossfadestyles.scss */
#page-footer .logo {
  font-family: "roboto slab", serif;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 513, sitelayoutwithcrossfadestyles.scss */
#page-footer .tagline {
  margin: 0;
  padding: 0;
  color: #aaa;
  font-weight: 300;
  font-size: .8rem;
}
/* line 521, sitelayoutwithcrossfadestyles.scss */
#page-footer .social-media-icons {
  font-size: 1.3rem;
  margin: 1rem 0 .2rem;
}
/* line 524, sitelayoutwithcrossfadestyles.scss */
#page-footer .social-media-icons a {
  padding: 0 .5em;
}
/* line 527, sitelayoutwithcrossfadestyles.scss */
#page-footer .social-media-icons a:link {
  border: none;
}
/* line 532, sitelayoutwithcrossfadestyles.scss */
#page-footer a:link, #page-footer a:visited {
  color: #eee;
}
/* line 535, sitelayoutwithcrossfadestyles.scss */
#page-footer a:hover, #page-footer a:active {
  color: #2593e2;
  border-bottom: dotted 1px #2593e2;
}
/* line 540, sitelayoutwithcrossfadestyles.scss */
#page-footer .column {
  width: 33.3%;
  padding: 1rem 2rem 2rem;
  margin: 0;
}
/* line 544, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.company-info {
  margin: .8em 0;
  padding-top: 0;
  border-right: dotted 1px #676767;
}
/* line 548, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.company-info h1 {
  margin: 0;
}
/* line 553, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.blog-posts ul {
  margin: 0;
  padding: 0;
}
/* line 556, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.blog-posts ul li {
  margin: 0 0 .2rem 1rem;
  padding-left: 0;
  list-style-type: disc;
  display: list-item;
}
/* line 565, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.quick-links ul {
  width: 47%;
  margin: 0;
  padding: 0;
}
/* line 569, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.quick-links ul li {
  margin: 0 0 .2rem 0;
  padding: 0;
  display: list-item;
}
/* line 574, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.quick-links ul.left {
  float: left;
}
/* line 577, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.quick-links ul.right {
  float: right;
}
/* line 582, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.left {
  float: left;
}
/* line 585, sitelayoutwithcrossfadestyles.scss */
#page-footer .column.right {
  float: right;
}
/* line 588, sitelayoutwithcrossfadestyles.scss */
#page-footer .column h4 {
  margin-bottom: .5rem;
  border-bottom: dashed 1px #999;
  font-weight: 300;
}
/* line 594, sitelayoutwithcrossfadestyles.scss */
#page-footer .row {
  clear: both;
  color: #aaa;
  margin-bottom: 1rem;
}
/* line 598, sitelayoutwithcrossfadestyles.scss */
#page-footer .row ul {
  padding: 0;
  margin: 0;
}
/* line 601, sitelayoutwithcrossfadestyles.scss */
#page-footer .row ul li {
  display: flex;
  justify-content: center;
  width: auto;
}
